.sites {
    padding-top: 120px;
    color: white;
    font-family: 'Fredoka', sans-serif;
}

h2 {
  text-align: center; 
  font-size: 60px; 
}



.site-list {
    margin: 50px;
    padding: 20px;
    /* padding-top: 100px; */
    display: grid;
    grid-template-areas:
    "a b c";
    color:white;
    grid-gap: 50px;
}



li {
    border: 2px solid white;
    border-radius: 40px;
}

