html {
    /* padding-top: 120px; */
    color: white;
    /* display: flex; */
}


.site-detail-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    position: relative;
    top: 150px;
    justify-content: center;
    /* border: 20px solid #565e47; */
    box-shadow: 0 5px 40px;
    background-color: black;
    width: 800px;
    height: 1050px;
    flex-grow:1;
    
}

#site-details {
    /* padding-top: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position:relative;
    gap: 20px;
    top: 200px; */
}
#image-detail-page {
    display: flex;
    gap: 15px;
    width: 600px;
    height: 500px;
    /* overflow-x: auto; */
    /* box-shadow: 0 5px 40px; */
    position: relative;
}

#image-detail-page .fa-angle-right {
    position:absolute;
    top: 250px;
    left: 610px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 50%;
    padding: 5px 10px;
    transition: 200ms ease-in-out;
}


#image-detail-page .fa-angle-right:hover {
    opacity: 0.5;
}

#image-detail-page .fa-angle-left {
    position:absolute;
    top: 250px;
    right: 610px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 50%;
    padding: 5px 10px;
    transition: 200ms ease-in-out;
}

#image-detail-page .fa-angle-left:hover {
    opacity: 0.5;
}


#site-detail-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    /* font-weight: bold; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px 50px;
    line-height: 1.5;
}

#edit-delete-site {
    display:flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.reviews-list {
    font-family: 'PT Sans', sans-serif;
    color: black;
    /* font-weight: bold; */
    font-size: 18px;;
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    margin: 0 120px;;
    gap: 40px;
}
.review {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    color: white;
}

#post-review-button {
    width: 100%;
}

.rating {
    font-weight:bold;
    margin: 15px 0px;
}

.review-comments {
    margin: 15px 0px;
}

#site-detail-text h2{
    padding: 0;
}

#book-container {
    display: flex;
    justify-content: space-between;
}

.book-button {
    border: 1px solid #91a058;
    background-color: #91a058;
    padding: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: all 1s;
}

.book-button:hover {
    color:#333820;
    background-color: #cbe66d;
}

/* #0A0A09
#73766D
#C5C9BB
#D1D6C7
#ACB0A4

Earthy Tones
#91a058
#70684D
#B57F53
#7D6766
#79737A

Other
#F1D5A3
#9E8F7F */