.sites {
    padding-top: 120px;
    color: #7C8265;
    /* font-family: 'Fredoka', sans-serif; */
    font-family: 'PT Sans', sans-serif;
}


h2 {
    text-align: center; 
    font-size: 60px; 
    color: white
}


.host-new-site {
    margin: 50px;
    color:white;
    border: 1px solid white;
    padding: 10px;
    width: 120px;
}


.site-list-container {
    display:block;
    /* position: relative; */
    /* top: 50px; */
    /* left: 70px; */
    
    margin: auto;
    /* margin: 30px; */
    padding: 50px;
    width:100%;
    /* padding-top: 100px; */
    display: grid;
    grid-template-areas:
    "a b c";
    color:white;
    overflow: hidden;
}


li.site-list{
    border-radius: 40px;
    height: 500px;
    width: 450px;
    display: grid;
    /* border: 0 solid white; */
    /* box-shadow: 0 0 50px; */
}

img {
    width: 100%;
    border-radius: 5px;
}

#site-list-text {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    padding: 10px;
}



#images {
    display: flex;
    gap: 15px;
    /* border: 1px solid  white; */
    width: 400px;
    height: 300px;
    overflow-x: auto;
    box-shadow: 0 5px 40px;
    border-radius: 5px;
}



