.profile-page {
    padding-top: 100px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.trips-header {
    position: relative;

    & .host-new-site {
        cursor: pointer;
        color:black;
        border: 1px solid white;
        padding: 10px;
        width: 130px;
        margin: 20px 0 0 15px;
        background-color: white;
        position: absolute;

        &:hover {
            color:#91a058;
            border: 2px solid #91a058;
        }
    }
    
    & .trip-title {
        padding-top: 0;
    }
}

.trips-list-container {
    margin: 100px 50px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & .fa-trash-can {
        cursor: pointer;
        color: red;
        align-self: flex-end;
        padding: 10px;
        font-size: 20px;

        &:hover {
            opacity: 0.5;
        }
    }
    
}