
.host-new-site {
    cursor: pointer;
    color:black;
    border: 1px solid white;
    padding: 10px;
    width: 130px;
    margin: 20px 0 0 15px;
    background-color: white;
}


.host-new-site:hover {
    color:#91a058;
    border: 2px solid #91a058;
}


.profile-page {
    padding-top: 100px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}


/* 
.trips h2 {
    padding: 0;
}

.trips a {
    color: #91a058;
    text-decoration: none;
}

.trips a:hover {
    text-decoration: underline;
}

.trips {
    margin: 0px 50px;
}

.table {
    padding: 30px 50px;
    margin: 20px 50px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color:rgba(255, 255, 255, 0.671);
    color: black;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 5px;
} */

.trip img {
    width: 300px;
    grid-column: 1 / 2;
    display: inline-grid;

}
/* 
.header {
    font-size: 20px;
    margin: 5px 0px;
}

.name {
    grid-column: 2 / 3;
    font-weight: bold;
    display: inline-grid;

}

.start {
    grid-column: 3 / 4;
    display: inline-grid;

}

.end {
    grid-column: 4 / 5;
    display: inline-grid;

}

.trip {
    padding: 10px 80px;
    margin: 0px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 250px);
    background-color:rgba(255, 255, 255, 0.671);
    color: black;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 5px;
} */
