
.host-new-site {
    cursor: pointer;
    color:white;
    border: 1px solid white;
    padding: 10px;
    width: 120px;
    margin: 20px 0 0 15px;
}


.host-new-site:hover {
    color:#91a058;
    border: 2px solid #91a058;
}


.profile-page {
    padding-top: 100px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.trips h2 {
    padding: 0;
}

.trips a {
    color: #91a058;
    text-decoration: none;
}

.trips a:hover {
    text-decoration: underline;
}

.trips {
    margin: 0px 50px;
}

.table {
    padding: 10px 80px;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill);
    background-color:rgba(255, 255, 255, 0.671);
    color: black;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 5px;
}

.table img {
    width: 300px;
    grid-column: 1 / 2;
}

.header {
    font-size: 20px;
    margin: 10px 0px;
}

.name {
    grid-column: 2 / 3;
    font-weight: bold;
}

.start {
    grid-column: 3 / 4;
}

.end {
    grid-column: 4 / 5;
}

