/* TODO Add site wide styles */

* {
	font-family: 'PT Sans', sans-serif;
	transition: all 200ms ease;
}

#errors {
	color: red;
}

.stars, .twinkling, .clouds {
	position:fixed;
	display:block;
	top:100px; 
    bottom:0;
	left:0; 
    right:0;
	width:100%; height:100%;
}

.stars {
	z-index: -3;
	background: #000 url('https://pixy.org/src/37/378081.jpg') repeat top center;
}

button {
    font-family: 'Fredoka', sans-serif;
    padding: 5px;
  }

  button:hover {
    background-color: #adb0a8;
  }