
#sign-up-form {
    font-family: 'PT Sans', sans-serif;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 70vh;
    min-width: 550px;
    min-height: 600px;
    max-height: 700px;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#log-in-container button {
    color: black;
    width: 150px;
    padding: 5px;
    font-size: 15px;

}

#sign-up-form h2 {
    color: black;
    padding: 20px 0 40px 0;
}


.sign-up-button {
    margin-top: 15px;
}

.sign-up-label {
    margin: 5px;
    display:flex;
    flex-direction: column;
}

.sign-up-label input {
    width: 100%;
}


.sign-up-page{
    position:fixed;
	display:block;
	top:100px; 
    bottom:0;
	left:0; 
    right:0;
	width:100%; 
    height:100%;
    background-image: url('../../assets/collage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#outer-signup {
    background-color: rgb(0, 0, 0, 0.4);
    position:fixed;
	display:block;
	top:100px; 
    bottom:0;
	left:0; 
    right:0;
	width:100%; 
    height:100%;
    z-index:1;

}

.sign-up-button-container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 80%;
}

.sign-up-page footer {
    display: flex;
    gap: 20px;
    align-items: center;
}

#technologies-used {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 20px;
    font-size: 12px;
}

.sign-up-page footer i {
    font-size: 30px;
    color: rgb(198, 196, 196);
    cursor: pointer;
    transition: all 200ms ease;
}

.sign-up-page footer i:hover {
    color: black;
}
