* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#login-nav-button {
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}



a > .nav-container { 
    background-color: #C5c9bb;
}  


.profile-dropdown {
    color: white;
}

#logo {
    width: 80px;
}

a {
    text-decoration: none;
    color: white;

} 

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* background-color: #D1D6C7; */
    background-color: #0A0A09;
    height: 100px;
    position: fixed;
    z-index: 100;
}


#home-link {
   width: 40%; 
   display: flex;
   align-items: center;
   font-family: 'Fredoka', sans-serif;
   font-weight: bold;
   color: #7C8265;
   gap: 10px;
   font-size: 50px;
}

/* .nav-menu {
} */

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
    padding: 20px;
    /* font-family: 'Fredoka', sans-serif; */
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    
}

#user-buttons {
    display:flex;
    gap: 40px;
}




