* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#login-nav-button {
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

#login-nav-button:hover {
    border-bottom: 2px solid #91a058;
}


a > .nav-container { 
    background-color: #C5c9bb;
}  


.nav-bar button {
    width: 50px;
    height: 50px;
    font-size: 18px;

}

.profile-dropdown {
    color: black;
    position: absolute;
    background-color: white;
    bottom: -93px;
    right: 31px;
    display:flex;
    flex-direction: column;
    padding: 5px;
    width: 200px;  
    animation: rotateMenu 500ms ease-in-out forwards;
    transform-origin: top center;
}

.profile-dropdown a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.profile-dropdown a:hover {
    border-bottom: 2px solid #91a058;
}

#logout-button {
    padding: 5px;
}

#logout-button:hover {
    cursor: pointer;
    border-bottom: 2px solid #91a058;
}

#logo {
    width: 80px;
}

#sites {
    text-decoration: none;
    color: white;
}

#sites:hover {
    border-bottom: 2px solid #91a058;
}

#sign-up {
    text-decoration: none;
    color: white;
}

#sign-up:hover {
    border-bottom: 2px solid #91a058;
} 

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* background-color: #D1D6C7; */
    background-color: #0A0A09;
    height: 100px;
    position: fixed;
    z-index: 50;
}


#home-link {
   width: 40%; 
   display: flex;
   align-items: center;
   font-family: 'Fredoka', sans-serif;
   font-weight: bold;
   color: #91a058;
   gap: 10px;
   font-size: 50px;
   text-decoration: none;
}

/* .nav-menu {
} */

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
    padding: 20px;
    /* font-family: 'Fredoka', sans-serif; */
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    
}

#user-buttons {
    display:flex;
    gap: 40px;
 
}




@keyframes rotateMenu {
    0% {
      transform: rotateX(-90deg)
    }
    70% {
      transform: rotateX(20deg)
    }
    100% {
      transform: rotateX(0deg)
    }
}