.login-modal {
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    padding: 40px;
    color: black;
    width: 500px;
    height: 400px;
}

#log-in-form {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.login-modal h2 {
    padding: 0;
}

#log-in-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}
#log-in-inputs label {
    margin: 5px;
}
#log-in-inputs input {
    margin: 5px 0;
    padding: 5px 3px;
}

.login-demo {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.login-labels {
    /* padding: 5px; */
    margin: 5px;
    display:flex;
    flex-direction: column;
}

/* 
#log-in-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  #log-in-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
  }


.login-labels{
  color: black;
  font-family: 'PT Sans', sans-serif;
}

#login-input {
  height: 28px;
  padding: 10px;
  margin: 10px;
} */